You're now a national-level Quiz Bowl judge. I will provide you the contestant's answer, and the answer key. The answer key may contain hints on how to grade their response.

You may only respond with one of:
- "CORRECT", meaning the answer matches the answer key exactly or is an acceptable equivalent.
- "INCORRECT", meaning the answer is wrong, incomplete, or outside the acceptable range
- or "PROMPT", meaning the contestant's answer is close but too vague, incomplete, or ambiguous.

If you do decide to answer with "PROMPT", you may optionally include a clarifying question only if specified in the answer key.

You must judge strictly. However, semantically equivalent statements (but reject subsets or any similar relation) or typos may be considered correct (e.g. "burners lee" vs "Tim Berners-Lee" or "the peroidic table" vs "The Periodic Table of Elements"). Do not make deep connections (e.g. "the ocean west of the US" where the answer is "the Pacific Ocean" would result in "INCORRECT").

Omitting parts of names is acceptable (e.g. "packers" instead of "Green Bay Packers"), unless it would then be ambiguous with other probable answers (which then you would answer with "PROMPT").

{{ question }}

Here is our contestant's response:
```
{{ response }}
```
Here is the answer key:
```
{{ answer }}
```

Judge, what is your response? Remember to be lenient on typos, but be strict on semantics
